.servicesWrapper {
    background-image: url("../../img/services_background_drk.png");
    background-attachment:fixed;
    background-size: cover;
    width: 100vw;
    padding-bottom: 100px;
}

.services {
    margin: 0% 11% 0% 11%;  
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.services_header {
    width: 25%;
    padding-top: 6%;
}

.services_bullet {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.bullet_subtext {
    font-size: 14px;
    line-height: 28px;
    color: #b8b8bf;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-align: center;
}


.services_header_text {
    font-size: 32px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    letter-spacing: .96px;
    padding-bottom: 17px;
    text-transform: uppercase;
    padding-top: 7%;
}

.services_subtext {
    font-size: 15px;
    color: #b8b8bf;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    padding-bottom: 15px;
}

.link_view_all_services {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    letter-spacing: .21px;
    color: rgb(204, 130, 0);
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 47px;
}

.bullet_header_text {
    font-size: 20px;
    color: #fff;
    letter-spacing: .30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 10px;
}



