@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.introduction_wrapper {
    margin: 6% 11% 0% 11%;
}

.introduction_title {
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: bold;
    position: relative;
}

.introduction_title_highlighted {
    color: rgb(204, 130, 0);
}


.word_introduction {
}
