.rooms_background {
    background-color: #f6f6f6;
    padding-bottom: 100px;
}



.rooms_top {
    margin: 0% 11% 0% 11%;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;

}

.rooms-cards {
    margin: 4% 11% 0% 11%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.rooms_header_text {
    font-size: 32px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 600;
}

.rooms_highlighted_text {
    color: rgb(204, 130, 0);
}

.btnViewRooms {
    display: inline-block;
    border: 1px solid #8e8e8e;
    line-height: 46px;
    height: 50px;
    color: black;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: 600;
    width: 210px;
}

.rooms-subtext {
    font-size: 14px;
    color: #a0a0a0;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .42px;
    padding-top: 10px;
}