@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.MidContent_header {
    font-size: 60px;
    color: white;
    font-family: Montserrat;
    font-weight: bold;
    border-radius: 10px;
}

.MidContent:hover {
    background-color: rgba(128, 128, 128, 0.26);
    border-radius: 10px;
}

.MidContent {
    margin: 6% 11% 0% 11%;
    width: 35%;
    border-left: 2px solid rgba(254, 254, 254, 0.292);
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(128,128,128,0.7447128509606968) 0%, rgba(128,128,128,0) 90%);

}

.MidContent_subtext {
    margin-top: 4%;
    font-weight: bold;
    font-size: 23px;
    color: white;
    font-family: Montserrat;
    margin-left: 0.5%;
    text-shadow:
        0.03em 0 black,
        0 0.03em black,
        -0.03em 0 black,
        0 -0.03em black;
}
