@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.MidContent_header {
    font-size: 60px;
    color: white;
    font-family: Montserrat;
    font-weight: 600;
    cursor:default;
    border-radius: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.MidContent:hover {
    background-color: rgba(128, 128, 128, 0.26);
    border-radius: 10px;

}

.MidContent {
    margin: 6% 11% 0% 11%;
    width: 35%;
    border-left: 2.4px solid rgba(254, 254, 254, 0.433);
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(128,128,128,0.7447128509606968) 0%, rgba(128,128,128,0) 90%);

}

.MidContent_subtext {
    margin-top: 4%;
    font-weight: 500;
    font-size: 23px;
    cursor:default;
    color: white;
    font-family: Montserrat;
    margin-left: 0.5%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow:
        0.015em 0 black,
        0 0.015em black,
        -0.015em 0 black,
        0 -0.015em black;
}

.btnReserveNow {
    margin: 2.5% 0% 0% 11%;
    height: 50px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    background-color: rgb(204, 130, 0);
    color: white;
    font-size: 16px;
    border: 2px solid rgb(204, 130, 0);
    width: 180px;
    border-radius:6px;
    cursor: pointer;
}

.btnReserveNow:hover {
    background-color: rgba(204, 129, 0, 0.727);
    border: none;

}