@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.main_header_area {
    margin: 0% 11% 0% 11%;
  }

  .header_wrapper {
    background: rgba(0, 0, 0, 0.336);
  }

  .header_top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    justify-content: space-between;
  }



  .phoneNumber {
    line-height: 48px;
    font-size: 15px;
    color: #fff;
    opacity: .70;
    font-family: "Open Sans", sans-serif;
    letter-spacing: .45px;
    margin-right: 22px;
    transition: all 150ms linear;
  }

  .emailInfo {
    line-height: 48px;
    font-size: 15px;
    color: #fff;
    opacity: .70;
    font-family: "Open Sans", sans-serif;
    letter-spacing: .45px;
    margin-left: 5px;
  }

  .icon_container {
    position: relative;
    top: 25%;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    width: 45px;
    align-self: center;
    cursor: pointer;
  }

  .logo_text_pansion {
    font-size: 30px;
    color: white;
    font-family: "Montserrat";
    font-weight: 600;
    opacity: 1;
    padding-right: 5px;
    padding-left: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .logo_text_villaanja {
    font-size: 30px;
    color: white;
    font-family: "Montserrat";
    opacity: .70;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .logo_text_wrapper {
    display: flex;
    margin-left: 2%;
    cursor: pointer;
  }

  .image_logo_wrapper {
    display: flex;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    width: 40%;
    align-items: center;

  }

  .header_bottom_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;

  }



  .ul-navigation {
    list-style: none;
  }

  nav li a {
    background: transparent;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    padding: 0px;
    letter-spacing: .45px;
    margin-top: auto;
    margin-bottom: auto;
  }

  ul li a {
    padding: 11px;
  }

  ul li a:hover {
    color: rgb(204, 130, 0);
    cursor: pointer;
    
  }

  .workHours {
    line-height: 48px;
    font-size: 15px;
    color: #fff;
    opacity: .70;
    font-family: "Open Sans", sans-serif;
    letter-spacing: .45px;
    margin-left: 22px;
  }


  
  .btnBookNow {
    background-color: #ffb606;
    width: 139px;
    height: 40px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .35px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border: 2px solid #ffb606;
    margin-left: 12px;
  }
  .workHours:hover {
    opacity: 1;
  }

  .phoneNumber:hover {
    opacity: 1;
  }

  .emailInfo:hover {
    opacity: 1;
  }

  .btnBookNow:hover {
    color: #ffb406;
    background-color: transparent;
    border: 2px solid #ffb606;
    cursor: pointer;
  }

