@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main_header_area {
    height: 16%;
    margin: 0% 11% 0% 11%;
  }

  .header_wrapper {
    background: rgba(0, 0, 0, 0.252);
  }

  .header_top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    justify-content: space-between;
  }



  .phoneNumber {
    line-height: 48px;
    font-size: 15px;
    color: #fff;
    opacity: .70;
    font-family: "Open Sans", sans-serif;
    letter-spacing: .45px;
    margin-right: 22px;
    transition: all 150ms linear;
  }

  .emailInfo {
    line-height: 48px;
    font-size: 15px;
    color: #fff;
    opacity: .70;
    font-family: "Open Sans", sans-serif;
    letter-spacing: .45px;
    margin-left: 5px;
  }

  .icon_container {
    position: relative;
    top: 25%;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    width: 4.6%;
    filter: brightness(80%);
    
  }

  .logo_text_pansion {
    font-size: 30px;
    color: white;
    font-family: "Montserrat";
    font-weight: bold;
    opacity: 1;
    padding-right: 5px;
  }

  .logo_text_villaanja {
    font-size: 30px;
    color: white;
    font-family: "Montserrat";
    opacity: .70;
  }

  .logo_text_wrapper {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    margin-left: 1%;
  }

  .image_logo_wrapper {
    display: flex;
    padding-top: 1.5%;
    padding-bottom: 1.5%;

  }

  .header_bottom_menu {
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;

  }

  .ul-navigation {
    list-style: none;
  }

  nav li a {
    background: transparent;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    padding: 0px;
    letter-spacing: .45px;
    margin-top: auto;
    margin-bottom: auto;
  }
